.chat {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.88;
    background-color: rgb(125, 122, 128);
    color: rgb(255, 236, 153);
}
